@charset "utf-8";
/**
 * [ADMIN] TextReplace
 * 
 */
/* 検索置換対象の指定
-------------------------------- */
label[for=TextReplaceCheckAll] {
	cursor: pointer;
}

.target-check fieldset legend {
	font-weight: bold;
	cursor: pointer;
}
.target-check .checkbox {
	margin-right: 10px;
	margin-bottom:14px;
}


/* 検索指定欄
-------------------------------- */
label[for=TextReplaceSearchRegex] {
	cursor: pointer;
	line-height: 2.5em;
}


/* 検索結果表示
-------------------------------- */
#helpTextReplaceInsight {
	cursor: pointer;
}

label[for=TextReplaceCheckBoxModelResult] {
	cursor: pointer;
}

.box-model-result h3 {
	cursor: pointer;
	margin-bottom: 5px;
}

.box-field-result table {
	margin-bottom: 40px;
}
.box-field-result table tr td strong {
	font-weight: normal;
	color: #c00;
}
.box-field-result table tr td.replace-before strong {
	background-color: #ffecec;
}
.box-field-result table tr td.replace-after strong {
	color: #333;
	background-color: #a6f3a6;
}

.box-field-result-all label {
	cursor: pointer;
}
.box-field-result-all > p {
	margin-left: 20.7%;
}

/* テキスト装飾
-------------------------------- */
.annotation-text-green {
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
}
.annotation-text-green small {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #669900;
	color: #669900;
	padding: 2px 5px;
	white-space: nowrap;
	border: 1px solid #669900;
	background: #FFF;
}
